
@{
    ViewBag.Title = "Congrats";
}

<div class="page">
    <h2>Congrats</h2>
    <br />
    <h5>You now have a new user!! Pleas log in with your new account</h5>
    <h5>@Html.ActionLink("Log In", "Create", "Sessions", routeValues: null, htmlAttributes: null)</h5>
</div>