@{
    ViewBag.Title = "Control Panel";
}

<div class="page">

    @if (ViewBag.currentUser.isAdmin == true)
    {             
        @Html.Partial("_AdminPanel")
    }
    else
    {
        @Html.Partial("_UserPanel")
    }




</div>
