@{
    ViewBag.Title = "Home";
}

<div class="banner">
    <h2>SALON CATELYN TULLY</h2>
    @if (ViewBag.currentUser == null)
    {
        <h3>
        @Html.ActionLink("Register", "Create", "Users", routeValues: null, htmlAttributes: null)
        or
        @Html.ActionLink("Log in", "Create", "Sessions", routeValues: null, htmlAttributes: null)
        and take your appointment now!        
        </h3>
    }
    else
    {
        <h3>
            Welcome! Now you can take an
            @Html.ActionLink("Appointment", "Index", "Appointments", routeValues: null, htmlAttributes: null)
            here!
        </h3>
    }
   
</div>
